.navbar {
    width: 100%;
    min-width: none;
    height: 3%;
    background-color: white;
}

.logoutImg {
    height: 50px;
    width: 50px;
}

li {
    display: inline-block;
}

.logo {
    float: left;
}

.logout {
    float: right;
    margin: 0.5% 2%;
}