.content {
    width: 100%;
    /* max-height: 450px; */
    height: max-content;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hide {
    display: none;
}