body {
    background-color: #5763ab;
}

.loginForm {
    min-width: 350px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 20%;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 15px;
}

.loginForm h1, p {
    font-family: sans-serif;
    text-align: center;
    margin: 30px 10px;
}

.inputFields {
    margin: 40px;
}

.loginInput{
    margin: 10px;
    padding: 0px 10px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid grey;
}

.loginBtn {
    height: 40px;
    width: 100px;
    margin-top: 1rem;
    border: 2px solid #fff;
    background-color: #5763ab;
    color: #fff;
    border-radius: 15px;
}

.loginBtn:hover {
    height: 40px;
    width: 100px;
    border: 2px solid #5763ab;
    background-color: #fff;
    color: #5763ab;
    border-radius: 15px;
}

@media screen and (min-width:430px) and (max-width:768px) {
    .loginForm {
        width: 700px;
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .loginForm {
        width: 350px;
        display: block;
    }
}

